<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>About</title>
	<link rel="icon" href="static/img/icon.png">
	<link rel="stylesheet" href="static/css/About(square).css">
	<link rel="stylesheet" href="static/css/About.css">
	<link rel="stylesheet" href="static/css/nav.css">
</head>

<body>
	<div class="logo">Translate Buddy</div>
	<div class="square">
		<span></span>
		<span></span>
		<span></span>
		<div class="content">
			<h2>About Translate Buddy</h2>
			<br />
			<br />
			<p>The main function it is a real-time translation tool for Teams meeting.</p>
			<br />
			<p>When your meeting is over, you can also export the meeting record.</p>
			<br />
			<p>Its another feature is a chat room where you can chat without language barriers.</p>
			<br />
			<p>Here you can speak your native language freely to friends all over the world and be understood by them.</p>
			<br />
			<div class="nav">
				<ul>
					<a href="Index.html">Home</a>
					<br />
					<a href="Translator.html">Translator</a>
					<br />
					<a href="ChatLogin.html">ChatRoom</a>
				</ul>
			</div>

		</div>
	</div>
</body>

</html>