*{
	margin: 0;
	padding: 0;
}
body::-webkit-scrollbar{
	display: none;
}
.logo{
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%, -10%);
	height: 50px;
	padding: 3px;
	color: #fff;
	font-size: 60px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: 700;
}

body{
background-image: linear-gradient(125deg, #30cfd0 0%, #330867 100%);	
}

.section{
	position: absolute;
	top: 40%;
	left: 15%;
	transform: translate(0, 0);
	width: 70%;
	height: 1000px;
	background-color: #000000;
	border-radius: 3%;
	line-height: 600px;
	text-align: center;
}
/* .text{
	position: absolute;
	top: 60%;
	left: 15%;
	width: 60%;
	background-color: #16264E;
	margin: -5% 5%;
	height: 600px;
} */