body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: url(../img/TadamiTrain_ZH-CN13495442975_1920x1080.jpg);
	background-size: cover;
}

.box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	padding: 40px;
	background: rgba(0, 0, 0, .8);
	box-sizing: border-box;
	border-radius: 10px;
}

.box h2 {
	margin: 0 0 30px;
	padding: 0;
	color: #fff;
	text-align: center;
	font-size: 30px;
}

.box .inputbox {
	position: relative;
}

.box .inputbox input {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	letter-spacing: 1px;
	margin-bottom: 20px;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	background: transparent;
}

.box .inputbox label {
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	padding: 10px 0;
	font-size: 16px;
	pointer-events: none;
	transition: .5s;
}

.box .inputbox input:focus~label,
.box .inputbox input:valid~label {
	top: -18px;
	left: 0;
	color: #03a9f4;
	font-size: 14px;
}

.box input[type="submit"] {
	background: transparent;
	border: none;
	outline: none;
	color: #fff;
	background: #03A9F4;
	padding: 12px 135px;
	cursor: pointer;
	border-radius: 5px;
	font-size: 16px;
}

.logo {
	position: fixed;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -10%);
	height: 50px;
	padding: 3px;
	color: #fff;
	font-size: 60px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: 700;
}

.home{
	font-size: 30px;
	text-decoration: none;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: #FFFFFF;
	padding: 1% 80%;
	
}

.login{
	margin: 250px;
	padding: 0 5px;
	color: #03A9F4;
	font-size: 15px;
}

